  body {
    background-color: rgb(253, 245, 234) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  svg {
    overflow: hidden;
    vertical-align: middle;
    background: transparent none repeat scroll 0% 0%;
  }

  .site-button {
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
    fill: #333C75;
    color: #333C75;
    background-color: #FFFFFF00;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #333C75;
    border-radius: 41px 41px 41px 41px;
    box-shadow: none;
    text-decoration: none !important;
    display: inline-block;
    font-size: 15px;
    padding: 12px 24px;
    text-align: center;
    transition: all .3s;
    box-sizing: border-box;
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
  }

  .letters-button {
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 5px;
    margin: 5px;
    fill: #333C75;
    color: #333C75;
    background-color: #FFFFFF00;
    border-style: solid;
    border-width: 1px 1px 3px 3px;
    border-color: #333C75;
    border-radius: 10px 10px 10px 10px;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
    font-size: 12.5px;
    /* padding: 12px 24px; */
    text-align: center;
    transition: all .3s;
    box-sizing: border-box;
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
  }

  .site-button span {
    text-decoration: inherit;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .search_input {
    padding-left: calc(31px / 3);
    padding-right: calc(31px / 3);
  }

  .node {
    cursor: pointer;
    /* box-shadow: 0px 2px#000; */
  }
  
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
  .node--leaf {
    fill: white;
  }
  
  .label {
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
  
  .label {
    pointer-events: none;
  }

  .searchItems {
    list-style-type: none !important;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    z-index: 1;
    margin: 0 0 0 0 !important;
  }

  .searchItems li {
    border-bottom: 0.5px solid #d8d8d8;
  }
  
  .searchItems a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  h5 {
    margin-bottom: 10px !important;
  }

  .isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }

  